<!doctype html>
<html lang="ukr">
<head>
    <meta charset="utf-8">
    <title>Головна</title>
</head>
<body>

<h1>внесіть email і password</h1>
<form action="/auhtorized/successfully" method="post">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required><br>
    <label for="passwords">Password</label>
    <input type="password" id="passwords" name="passwords" required minlength="4"
       maxlength="16" size="16"><br><br>
    <button type="submit">Шукати</button>
</form>

</body>
</html>