<!DOCTYPE html>
<html lang="ukr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Головна</title>
</head>
<body>


<div class="photo">
    <img class="card" src="/static/css/2084-1.jpg" alt="">
</div>
<h1 class="title">Меню</h1>
<nav class="box">


    <a href="/menu"><h2>перегляд усіх користувачів</h2></a>
    <a href="/showCars"><h2>перегляд усіх машин користувачів</h2></a>
    <a href="/auhtorized"><h2>перевірка Авторизації</h2></a>
    <a href="/change"><h2>змінити дані існуючого користувача</h2></a>
    <a href="/choose"><h2>видалити користувача з бази данних</h2></a>
    <a href="/search"><h2>шукати користувача за емейлом</h2></a>
    <a href="/add"><h2>добавити користовача</h2></a>
    <a href="/addcars"><h2>добавити машину користовачу</h2></a>
    <a href="/delete-car"><h2>видалити машину користовачу</h2></a>
    <a href="/change/car"><h2>змінити дані про машину</h2></a>


</nav>
</body>
</html>