<!DOCTYPE html>
<html lang="ukr">
<head>
    <meta charset="UTF-8">
    <title>Головна</title>
</head>
<body>
<h1>Меню</h1>
<nav>
    <ul>
        <li><a href="/menu"><h2>перегляд усіх користувачів</h2></a></li>
        <li><a href="/showCars"><h2>перегляд усіх машин користувачів</h2></a> </li>
        <li><a href="/auhtorized"><h2>перевірка Авторизації</h2></a></li>
        <li><a href="/change"><h2>змінити дані існуючого користувача</h2></a></li>
        <li><a href="/choose"><h2>видалити користувача з бази данних</h2></a></li>
        <li><a href="/search"><h2>шукати користувача за емейлом</h2></a></li>
        <li><a href="/add"><h2>добавити користовача</h2></a></li>
        <li><a href="/addcars"><h2>добавити машину користовачу</h2></a></li>
        <li><a href="/delete-car"><h2>видалити машину користовачу</h2></a></li>
        <li><a href="/change/car"><h2>змінити дані про машину</h2></a></li>

    </ul>
</nav>
</body>
</html>